.avatar {
  width: 10em;
  height: 10em;
  margin: 1em;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card {
  width: fit-content;
  min-width: 24em;
  border-radius: 1em;
  display: block;
  margin: 2em auto;
  text-align: center;
  padding: 0.2em 0;
}

.line {
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.profile-card h5 {
  margin: 0;
  padding: 0 1.5em;
}

.stats {
  margin: 1em 0;
  text-align: center;
}

.stats th,
.stats td {
  text-align: center;
}

.avatar-form {
  width: fit-content;
  display: block;
  margin: 2em auto;
}
